@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  border-width: 2px !important;
  border-color: #c2c7cf;
  border-radius: 6px;
}

body {
  line-height: 24px;
}

input {
  padding: 8px 8px;
}

input:focus {
  border-width: 2px !important;
  border-color: #0a1a5c;
  border-radius: 6px;
}

.label-l {
  color: #0a1a5c;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.label-m {
  color: #0a1a5c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
