.contact-form {
  min-height: 600px;
  background-color: white;

  &-container {
    max-width: 850px;
    border: 1px solid #c2c7cf;
    border-radius: 12px;

    .form-group {
      margin-bottom: 22px;
    }

    .error {
      color: red;
      padding-left: 10px;
    }
  }
}

.submit-success {
  background-color: #14a44d;
  color: white;
  padding: 5px;
}
